
    <!DOCTYPE html>
    <html>
    <head>
        <title>YOLOv11 Detection</title>
    </head>
    <body>
        <h1>YOLOv11 Object Detection</h1>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <p>Upload video file:</p>
            <input type="file" name="file">
            <input type="submit" value="Upload">
        </form>
        <br>
        <form action="/link" method="post">
            <p>Video URL:</p>
            <input type="text" name="url">
            <input type="submit" value="Play from URL">
        </form>
    </body>
    </html>
    